*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#clock-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock{
    font-size: 5rem;
    color: white;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}